:root {
    --selected-color: #2596be;
}

header {
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

body {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
}

.headerButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.headerButton {
    margin-left: 30%;
}

main {
    margin-top: 10%;
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

.large-text {
    font-size: 90px;
    padding-bottom: 2.2%;
    font-weight: bold;
}

.img {
    height: 400px;
    width: 400px;
    margin-right: 3%;
}


a:active {
    text-decoration: underline;
    color: var(--selected-color);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.active {
    color: var(--selected-color);
}