:root {
    --background-color: #211D1B;
    --foreground-color: white;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: monospace;
    font-size: medium;
}