:root {
    --background-color: rgb(247, 247, 247);
    --foreground-color: #090300;
    --liner-color: #ee6c4d;
}


body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: monospace;
    font-size: medium;
}