@import url(theme.css);

body {
    font-family: monospace;
    /* font-family: "Francois One", arial, helvetica, sans-serif; */
    /* font-family: "Ubuntu", arial, helvetica, sans-serif; */
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-size: large;
    padding-left: 10px;
}

/* cursor --------------------------------------------------------*/
@keyframes alternating-colors {
    0% {
        color: var(--background-color);
        background-color: var(--foreground-color);
    }

    50% {
        color: var(--foreground-color);
        background-color: var(--background-color);
    }
}

.cursor {
    animation: alternating-colors 1s steps(1, jump-end) infinite;
}

/*----------------------------------------------------------------*/

#inputcont::before {
    content: "user@tommasocaputi.com:~$";
    color: var(--liner-color);
}

textarea {
    left: -1000px;
    position: absolute;
}

pre {
    margin: 0px;
}

a {
    color: var(--liner-color);
    text-decoration: none;
}