/* :root {
    --background-color: rgb(247, 247, 247);
    --foreground-color: #090300;
    --liner-color: #e84747;
} */
:root {
    --background-color: rgb(247, 247, 247);
    --foreground-color: #090300;
    --liner-color: #2596be;
}